*{
    margin: 0;
    padding: 0;
}
body{
    background-color: pink;
}

.flex{
    display: flex;
}

.border{
    border: 10px solid red;
}

a , button {
    all: unset;
}

a:active , button:active {
    scale: 0.9;
}

.section {
    flex-direction: row;
    justify-content: space-between;
    
}

.user-profile{
    align-items:flex-start;
    width: 50rem;
    height: 40rem;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: bisque;
    box-shadow: 5px 5px black;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.user-photo {
    width: 200px;
    height: 200px;
    background-image:url(./userimg.jpg);
    display: flex;
    margin-left: 10px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 7px solid yellow;
    box-shadow: 5px 5px black; 
}

.information{
    width: 450px;
    height: 200px;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 10px;
    background-color:bisque;
    border: 7px solid yellow;
    border-radius: 10px;
    box-shadow: 5px 5px black; 
    align-items: top;
    justify-content: space-evenly;
    flex-direction: column;
}

.username{
    font-weight: 900;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.address{
    font-weight: 900;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.phone {
    font-weight: 900;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-button {
    width: 200px;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: yellow;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px black;
}

.column-botton {
    flex-direction: column;
    justify-content: space-evenly;
}
.card-profile{
    margin-left: 30px;
    width: 500px;
    height: 270px;
    background-color: bisque;
    border-radius: 10px;
    border: 5px solid yellow;
    box-shadow: 5px 5px black;
    flex-direction: column;
    justify-content:flex-start;
    z-index: 0;
    
}

.types-card-profile{
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    width: 400px;
    height: 180px;
    margin-top: 20px;
    padding-top: 20px;
}

#fav-title {
    
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900;
    margin: 20px auto auto auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.favbooks {
    width: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height: 50px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 40px;
    box-shadow: 5px 5px 0px black;
}

.card-profile-cover {
    background-image: url(/card.pro.fav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    z-index: 1;
    right: 40px;
    position: absolute;
    
}


#card-pro-cov {
    color: rgb(255, 251, 0);
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    justify-content: center;
    text-align: center;
    opacity: 1;
    max-height: 500px; /* adjust to content height */
    overflow: hidden;
    transition: opacity 1s ease, max-height 1s ease;
}

#card-pro-cov.hidden {
    opacity: 0;
    max-height: 0;
}
.rate-column{
    width: 50rem;
    height: 40rem;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    overflow-y: auto;
}

.rate-card-title {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

.rate-card {
    width:700px ;
    height: 100px;
    margin-top: 20px;
    background-color: aqua;
    border-radius: 30px;
    box-shadow: 7px 5px black;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rate-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 7px;
    box-shadow: 3px 3px black;
}

.rate-user-star {
    margin-right: 30px;
    width: 115px;
    height: 20px;
}

.comment {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    text-shadow: 1px 1px ;
    
}

.rate-column::-webkit-scrollbar {
  width: 10px;              /* width of vertical scrollbar */
  height: 10px;             /* height of horizontal scrollbar */
}

.rate-column::-webkit-scrollbar-track {
  background-color: bisque;      /* track color */
  border-radius: 5px;
}

.rate-column::-webkit-scrollbar-thumb {
  background: #ffcc00;      /* thumb color */
  border-radius: 5px;
     /* optional border */
}

.rate-column::-webkit-scrollbar-thumb:hover {
  background: #ffaa00;      /* hover effect */
}











