body {
    background-color: #FAF0B8 !important;
}

.card {
    margin: 5% 3%;
    box-shadow:
        6px 6px 0px #000,
        0px 0px 0px 3px #000 inset !important;
}

.card img{
    transition: all ease 0.3s;
}

#add-button {
    margin: 1% 5%;
}

.card img:hover {
    transform: scale(1.01);
}