*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: #60cfaf;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 97%;
    width: 20%;
    background-color: #fff7e4;
    border: 3px solid #000;
    box-shadow: -8px 8px 0 #000;
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 25px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-left: 15px;
}

.nav-links a{
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 8px 25px 8px 8px;
    width: fit-content;
}


.nav-links a:hover{
    background-color: aqua;
    border-radius: 9999px;
}

.nav-links img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: -3px 3px 0 #000;
    object-fit: cover;
    cursor: pointer;
}

.nav-links span{
    margin-left: 10px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-top{
    width: 100%;
    max-height: 25%;
    padding-top: 10px;
    border-bottom: 3px solid #000;
}

.nav-middle{
    width: 100%;
    max-height: 50%;
    margin-bottom: 20px;
}

.nav-bottom{
    width: 100%;
    max-height: 25%;
    padding-bottom: 10px;
    border-top: 3px solid #000;
}

.nav-top,
.nav-middle,
.nav-bottom{
    flex-shrink: 0;
}

.right-window{
    position: fixed;
    top: 0;
    height: 97%;
    width: 75%;
    margin: 15px 15px 15px 23%;
    background: #fff7e4;
    border: 3px solid #000;
    box-shadow: 8px 8px 0 #000;
    border-radius: 8px;
    overflow-y: auto;
}

.right-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffcf00;
    width: 100%;
    height: 40px;
    position: sticky;
    top: 0;
    border-bottom: 3px solid #000;
    z-index: 1000;
}

.nav-bar img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 3px 3px 0 #000;
    object-fit: cover;
}

.temp{
    margin-right: 4px;
    margin-top: 3px;
}

 .right-section{
  margin-right: 10px;
}

.left-section{
    margin-left: 10px;
}  

.middle-section{
    margin-left: 1050px;
}

.search{
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 3px 3px 0 #000;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.screen{
    width: 90%;
    height: 650px;
    position: relative;
    margin: 20px auto;
    border: 3px solid #000;
    box-shadow: 8px 8px 0 #000;
    border-radius: 8px;
    overflow: hidden;
}

.slider-track{
    position: relative;
    width: 100%;
    height: 100%;
}

.screen-img{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: grab;
    flex-shrink: 0;
    transition: left 0.8s ease;
}

.screen-img.active {
    left: 0;
}

.arrow{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #000;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

#left-arrow{
    margin-top: 20%;
    margin-right: 90%;
    box-shadow: 3px 3px 0 #000;
}

#right-arrow{
    margin-top: 20%;
    margin-right: 3%;
    box-shadow: -3px 3px 0 #000;
}

.grid-title {
    height: 40px;
    width: 200px;
    margin: 30px 0 30px 7%;
    text-align: center;
    border-radius: 25px;
    border: 3px solid #000000;
    box-shadow: 0 6px 0 #000000;
    background-color: aqua;
}

.grid-title span {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.books-grid {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 90%;
    margin: 0 0 0 7%;
    padding-bottom: 15px;
}

.book-card {
    width: 220px;
    flex-shrink: 0;
    background: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    border: 3px solid #000000;
    box-shadow: 12px 12px 0 #000000;
    transition: all 0.3s ease;
    
}

.book-card:hover {
  translate: -4px;
}

.book-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 12px;
    border: 2px solid #000;
    box-shadow: 4px 4px 0 #000;
}

.book-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.book-card p {
    margin: 5px 0 12px 0;
    font-weight: bold;
    font-size: 16px;
}

.book-card button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.book-card button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.book-card button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 70px 0 0 0;
    width: 100%;
    height: 20%;
    background-color: #f5e0b3;
}

.icons-container{
    margin-top: 50px;
}

 
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

.footer-bottom {
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    color: #000;
    font-size: 16px;
    margin: 0;
}

.footer-bottom .designer {
    font-size: small;
    letter-spacing: 1px;
}







































