* {
    margin: 0;
    padding: 0;  
}

.flex{
    display: flex;
}


body{
    background-color:pink;
    width: 100%;
    height: 100%;
    margin: auto;
}

.border{
    border: 10px solid red;
}

a , button {
    all: unset;
}

a:active , button:active {
    scale: 0.9;
}

.container{
    background-color:bisque;
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    box-shadow: 8px 8px 5px black;
    flex-direction: column;
    align-items: center;
}

.bar-container{
    flex-direction: row;
    width: 100%;
    justify-content:space-around ;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a-bar-container {
    font-size: 20px;
    width: 200px;
    background-color: yellow;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 3px 2px 5px black;
    font-size: 17px;
    font-weight: 700;
}

.author-title {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .author-name{
        margin-top: 20px;
        font-size: 32px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.img-author {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    background-image: url(JK\ Roling.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 4px black;  
}

.information-author {
    margin-top: 20px;
    width: 90%;
    height: 400px;
    background-image: url(img\ 1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 4px black;
    justify-content: space-around;
    align-items: center;
    
}

.infomation {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 25%;
    height: 80%;
    background-color: inherit;
    border-radius: 40px;
    box-shadow: 5px 5px 10px black;
    transition: 0.5s;
    padding-left: 10px;
    padding-top: 10px;
}

.infomation:hover {

    background-color: #00b4d8;
    opacity: 0.7;

    .information-p , .information-h4{
    
    display: block;
    
    
}
}

.information-h4{
    font-size: 20px;
}

.information-p , .information-h4{
    text-indent: 10px;
    display: none;
    transition: 2s;
    font-weight: 600;
}

section {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 80;
    justify-content:stretch;
    justify-content: center;
    padding-top: 20px;
}

.card {
    margin: 10px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

footer {
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 900;
}



